/*navbar ABDUL*/
.navbar-default{
	height: 60px;

}


#nav {

	width:100%;
	background-color: #E7DBDB;
	margin-top: 5px;
	text-align: center;
	 padding-left: 10%;
	 padding-right: 10%;
}


#nav li a{
	font-family: "aclonica";
	color: #1C0C4F ;/*green*/
	text-align: center;
 	font-size: 20px;
 	text-shadow: 2px 2px 1px white;/*#E7DBDB, #1C0C4F*/
 	height: 45px;
 	width: 250px;
	background-color: #D6E7C6;/*#D6E7C6*/
	border-color: grey;
    border-width: 2px 10px 2px 15px;
	border-style: solid;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius:40px; 
	border-bottom-left-radius: 40px;
	
}

body {
	width : 100%;
    /*overflow: hidden;*/

}

header{

	background-image: url(images/img3.jpg);
opacity: 0.9;
	padding-top : 20px;
	margin-top: 0px;
	/*background-color: #E7DBDB;*/
	background-size: cover;
	background-attachment: fixed;
}

	.soutitre{
	padding-bottom: 5px;
	background-size: cover;
}

header h1, header h2{
	width:100%;
	text-shadow: 5px 2px 10px yellow;
	font-family: 'Aclonica';
	color : #1C0C4F;
	text-align: center;
	background-color: #E7DBDB;
	opacity: 0.8;
}

header h1{
	
	text-shadow: 2px 2px 5px grey;
	font-size: 50px;
overflow: hidden;
	border-color: grey;
    border-width: 1px 5px 1px 5px;
	border-style: dotted;
	 
	 
	border-top-right-radius:40px; 
	border-bottom-left-radius: 40px;
}
header h1:hover{
	opacity:0.6;
    color:#bf40bf;
}

header h2{
	text-shadow: 2px 2px 5px grey;
	margin-top: 10px;
	font-size: 25px;
	border-color: grey;
    border-width: 1px 3px 1px 3px;
	border-style: dotted;
	border-top-right-radius:30px; 
	border-bottom-left-radius: 30px;
}


header .col-md-3{ 
	background-size: cover;
	background-attachment: fixed;
}

.rezo, .ID{
	
	font-family: 'Aclonica', 'Open Sans', sans-serif;
	color:black;
	overflow: hidden;
	text-align: center;
	font-size : 15px;
	margin :auto;
	margin-top: 10px;
	border : 1px dotted grey;
	border-top-right-radius: 50px;
	border-bottom-left-radius : 50px;
	
}

header .col-md-3 .rezo{
	 width : 50%;
	height: 60px;
	background-color: #D6D5D3;
}
.rezo h6{
	 padding-bottom: 0px;
	color : #1C0C4F;
	font-size: 14px;
}

.rezo a{
	
	padding-top: 0px;
	text-align: center;
	 
	color:black;
	
}

.ID h6{
	
	color : #1C0C4F;
	font-size: 14px;
}
header .col-md-3 .ID{
	margin-bottom: 20px;
	 width: 75%;
	height: 80px;
	background-color: #D6D5D3;
}

.ID a{
	text-align: center;
	 
	 
	color:black;
}

.section_navigation{

	text-shadow: 2px 2px 5px black;
	width : 100%;
	height: 80px;
	background-color: #FDEDE8;
}



.centrale{
	padding-top: 50px;
	width : 100%;
	background-color: #FDEDE8;
	opacity : 1;
	background-attachment: fixed;
	background-repeat: no-repeat ;
	background-size: cover;
	}

.centrale h5{
	padding-top: 250px;
	text-align: center;
	font-family: 'Aclonica', 'Open Sans', sans-serif;
	font-size: 80px;
}

 .carousel-inner > .item > img,.carousel-inner > .item > a > img {
    
    width: 45%;
    padding-top: 20px;
	padding-bottom: 20px;
	margin: auto;
  }

.carousel-caption h3, p{
	color: black;
	font-family: 'Aclonica';
	text-shadow: 2px 2px 2px white;
}

.paragraphe_corps{

	padding-top: 25px;	
}

.col-md-6 h4{ 
	font-family: 'Aclonica', 'Open Sans', sans-serif;
	font-size: 15px; 
	text-shadow: 1px 1px 1px white;
	color :black;
	text-align: justify;
	width: 95%;
}

.images_corps{
	margin-top: 25px;
}

.bloc-droite{
	margin : auto;
	width : 100%;
	height : 500px;
	background-color: #FDEDE8;
	width : 95%;
	height : 700px;
}

.col-md-6 .img1 {
	margin-top: 10px;
	height : 240px;
	width: 100%;
	background-image: url('images/img2.jpg');
	background-repeat: no-repeat;
background-size: cover;
}

.col-md-6 .img2 {
	margin-top: 10px;
	height : 290px;
	width: 100%;
	background-image: url('images/img3.jpg');
	background-repeat: no-repeat;
}

.col-md-6 .img3 {
	margin-top: 10px;
	margin-bottom : 30px;
	height : 290px;
	width: 100%;
	background-image: url('images/img4.jpg');
	background-repeat: no-repeat;
}



footer{ 
	padding-top: 10px;
	margin-top: 0px;
	text-align: center;
	width : 100%;
	height: 70px;
	font-size: 20px;
 	text-shadow: 2px 2px 2px yellow;
 	border-radius: 15px;
	background-color: #D6E7C6;
}


footer a{ 
	font-family: 'Aclonica';
	color : #1C0C4F;
	font-size: 25px;
 	text-shadow: 2px 2px 2px yellow;
 	letter-spacing: 2px;

}

#cr {
	font-family: 'Aclonica';
	color : #1C0C4F;	
	font-size: 15px;
 	text-shadow: 2px 2px 2px yellow;
}





