
/*html {
  background-image: url('images/img1.jpg');
  background-size:100% auto;
}

*/
/*
body {
	width : 95%;
  
}
*/

header{
	padding-top : 0px;
	margin-top: 0px;
	height: 125px;
	background-color: beige;
}

h1:not(.exclu){
    background-image: url('img1.jpg');
    width :100%;
    height: 50px;
opacity: 0.3;
  
	}

	.soutitre{background-color: lightgreen;}

header h1, header h2{
	font-family: 'Aclonica';
	color : black;
	padding-top : 0px;
	margin-top: 0px;
	text-align: center;}

header h1{
	font-size: 50px;
}
header h2{font-size: 25px;}


.col-md-2 h4{
	font-family: 'Aclonica', 'Open Sans', Fallback, sans-serif;
	font-size: 16px; 
	color :blue;
	text-align: justify;}

header .col-md-3{
	height :100px; 
	background-color: beige;}

.rezo{
	font-size : 35px;
	margin : auto;
	background-color: lightgreen;
	width: 50%;
	height : 100px;
}

.section_navigation{
	width : 100%;
	height: 80px;
	background-color: cyan;}

.bloc-droite img{
	margin-top: 30px;
	width : 100%;
	height : 250px;
}

.col-md-3{
	margin-top: 20px;
	height : 450px;
	background-color: beige;
}

footer{ 
	text-align: center;
width : 100%;
height: 40px;
background-color: red;

}


 .carousel-inner > .item > img,.carousel-inner > .item > a > img {
      
      width: 60%;
padding: 20px;
margin: auto;
  }


