/*navbar ABDUL*/
.navbar-default{
	height: 60px;
}
#nav {/*padding-left : 50px;*/
margin: auto;
margin-top: 10px;
margin-bottom: 10px;
}


#nav li a{

	padding-top: 10px;
	color: #1C0C4F ;/*green*/
	background-color: #D6E7C6;
	text-align: center;
 	font-size: 20px;
 	text-shadow: 2px 2px 1px grey;/*#E7DBDB, #1C0C4F*/
 	height: 45px;
 	width: 250px;
	border-radius: 25px;
	border-style: solid;
	border-color: #E7DBDB;
    border-width: 2px 10px 2px 15px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	margin-right: 25px;
	margin-left: 25px;
}

body {
	width : 100%;
 	text-shadow: 2px 2px 2px #bf40bf;
 	height: 45px;
 	width: 200px;
	border: ridge 5px #EBDDDA;
	border-radius: 15px;
	margin-right: 25px;
	margin-left: 25px;
	color: green;
	padding-top: 10px;
	background-color: #D6E7C6;

}

header{
	padding-top : 40px;
	margin-top: 0px;
	background-color: #E7DBDB;
	background-size: cover;
	background-attachment: fixed;
}



.soutitre{
	padding-bottom: 5px;
	background-size: cover;
}

header h1, header h2{
	text-shadow: 5px 2px 10px yellow;
	font-family: 'Aclonica';
	color : #1C0C4F;
	text-align: center;}

header h1{
	text-shadow: 2px 2px 5px white;
	font-size: 50px;
}
header h1:hover{
	 opacity:0.6;
  color:#bf40bf;
}

header h2{
	text-shadow: 2px 2px 5px grey;
	margin-top: 10px;
	font-size: 25px;
}


header .col-md-3{

	height :100px; 
	background-size: cover;
	background-attachment: fixed;
	margin-top: 0 auto;
}

.rezo, .ID{
	
	font-family: 'Aclonica', 'Open Sans', sans-serif;
	color:black;
	overflow: hidden;
	text-align: center;
	font-size : 15px;
	margin :auto;
	border : 1px solid black;
	border-top-right-radius: 50px;
	border-bottom-left-radius : 50px;
	
}

header .col-md-3 .rezo{

	width : 200px;
	height: 100px;
	background-color: #D6D5D3;
}
.rezo h6{
	margin-top: 20px;
	color : #1C0C4F;
	font-size: 14px;
}

.rezo a{
	margin-top: 15px;
	padding-right: 10px;
	width : 20px;
	text-align: center;
	height : 45px;
	color:black;
	
}

.ID h6{
	margin-top: 20px;
	color : #1C0C4F;
	font-size: 14px;
}
header .col-md-3 .ID{
	margin-bottom: 20px;
	width : 200px;
	height: 100px;
	background-color: #D6D5D3;
}

.ID a{
	text-align: center;
	padding-left: 10px;
	height : 40px;
	color:black;
}

.section_navigation{

	text-shadow: 2px 2px 5px black;
	width : 100%;
	height: 80px;
	background-color: #FDEDE8;
}



.centrale{
	padding-top: 50px;
	width : 100%;
	background-color: #FDEDE8;
	opacity : 1;
	background-attachment: fixed;
	background-repeat: no-repeat ;
	background-size: cover;
}

.centrale h5{
	padding-top: 250px;
	text-align: center;
	font-family: 'Aclonica', 'Open Sans', sans-serif;
	font-size: 80px;
}

 .carousel-inner > .item > img,.carousel-inner > .item > a > img {
      
    width: 45%;
    padding-top: 20px;
	padding-bottom: 20px;
	margin: auto;
  }

.carousel-caption h3, p{
	color: black;
	font-family: 'Aclonica';
	text-shadow: 2px 2px 2px white;
}

.paragraphe_corps{

	padding-top: 25px;	
}

.col-md-6 h4{ 
	font-family: 'Aclonica', 'Open Sans', sans-serif;
	font-size: 15px; 
	text-shadow: 1px 1px 1px white;
	color :black;
	text-align: justify;
	width: 95%;
}

.images_corps{
	margin-top: 25px;
}

.bloc-droite{
	margin : auto;
	width : 100%;
	height : 500px;
	background-color: #FDEDE8;
	/*width : 95%;
	height : 700px;*/
}

.col-md-6 .img1 {
	margin-top: 10px;
	height : 280px;
	width: 100%;
	background-image: url('images/img2.jpg');
	background-repeat: no-repeat;
background-size: cover;
}

.col-md-6 .img2 {
	margin-top: 10px;
	height : 320px;
	width: 100%;
	background-image: url('images/img3.jpg');
	background-repeat: no-repeat;
}

.col-md-6 .img3 {
	margin-top: 10px;
	height : 320px;
	width: 100%;
	background-image: url('images/img4.jpg');
	background-repeat: no-repeat;
}



footer{ 
	padding-top: 10px;
	margin-top: 0px;
	text-align: center;
	width : 100%;
	height: 70px;
	font-size: 20px;
 	text-shadow: 2px 2px 2px yellow;
 	border-radius: 15px;
	background-color: #D6E7C6;

}

footer a{ 
	
	color: green;
	font-size: 25px;
 	text-shadow: 2px 2px 2px yellow;
 	letter-spacing: 2px;

}

#cr {font-size: small;
	color: green;
	font-size: 15px;
 	text-shadow: 2px 2px 2px yellow
}